<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADL_79NO11YrNFl8JLLsjPDPNGiYYz6VI</string>
	<key>GCM_SENDER_ID</key>
	<string>866944055436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.directdrop.app</string>
	<key>PROJECT_ID</key>
	<string>personaltrainer-77e4c</string>
	<key>STORAGE_BUCKET</key>
	<string>personaltrainer-77e4c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866944055436:ios:d35b461c866a37b42f63a9</string>
	<key>DATABASE_URL</key>
	<string>https://personaltrainer-77e4c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>